<div class="container page-carousel">
    <div class="row">
        <div class="span12">
            <section class="brands-carousel  clearfix">
                <h3><span>Partners</span></h3>
                <div class="jcarousel-container">
                    <div class="jcarousel-clip">
                        <ul class="brands-carousel-list clearfix">
                            <li>
                                <a target="_blank" href="http://wei.tm/" title="wei.tm">
                                    <img src="~/Images/partner.png" alt="wei.tm" title="wei.tm">
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="http://wei.tm/" title="wei.tm">
                                    <img src="~/Images/partner.png" alt="wei.tm" title="wei.tm">
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="http://wei.tm/" title="wei.tm">
                                    <img src="~/Images/partner.png" alt="wei.tm" title="wei.tm">
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="http://wei.tm/" title="wei.tm">
                                    <img src="~/Images/partner.png" alt="wei.tm" title="wei.tm">
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="http://wei.tm/" title="wei.tm">
                                    <img src="~/Images/partner.png" alt="wei.tm" title="wei.tm">
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="http://wei.tm/" title="wei.tm">
                                    <img src="~/Images/partner.png" alt="wei.tm" title="wei.tm">
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="http://wei.tm/" title="wei.tm">
                                    <img src="~/Images/partner.png" alt="wei.tm" title="wei.tm">
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="http://wei.tm/" title="wei.tm">
                                    <img src="~/Images/partner.png" alt="wei.tm" title="wei.tm">
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="http://wei.tm/" title="wei.tm">
                                    <img src="~/Images/partner.png" alt="wei.tm" title="wei.tm">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="jcarousel-prev"></div>
                    <div class="jcarousel-next"></div>
                </div>
            </section>
        </div>
    </div>
</div>