<figure>
    <a href="#" title="12345 Southwest 39th Shanghai">
        <img src="~/Images/property.jpg" alt="12345 Southwest 39th Shanghai" title="12345 Southwest 39th Shanghai">
    </a>
</figure>
<h4><a href="#" title="12345 Southwest 39th Shanghai">12345 Southwest 39th Shanghai</a></h4>
<p>Here is the introduction of the property,… <a href="#"> Know More </a> </p>
<span class="price">$x,xxx Per Month</span>
