<article class="property-item clearfix">
    <h4><a href="#" title="12345 Southwest 39th Shanghai">12345 Southwest 39th Shanghai</a></h4>
    <figure>
        <a href="#" title="12345 Southwest 39th Shanghai">
            <img src="~/Images/property.jpg" alt="12345 Southwest 39th Shanghai" title="12345 Southwest 39th Shanghai">
        </a>
        <figcaption>On Rent</figcaption>
    </figure>
    <div class="detail">
        <h5 class="price">$x,xxx Per Month<small> - type I</small></h5>
        <p>Here we write some introduction of properties…</p>
        <a class="more-details" href="#">More Details <i class="icon-caret-right"></i></a>
    </div>
    <div class="property-meta">
        <span><i class="icon-area"></i>280 sq ft&nbsp;</span>
        <span><i class="icon-area"></i>&nbsp;Shanghai</span>
        <span><i class="icon-area"></i>&nbsp;Contact</span>
        <span><i class="icon-area"></i>&nbsp;Discounts</span>
    </div>
</article>
