@using Weitm.Modules.Article.Models;
@using Weitm.Modules.ChainTouch.Models;

<!-- Sidebar -->
<aside class="sidebar">
    <section class="widget">
        <form role="search" method="post" id="searchform" class="searchform" action="~/Property/Search/">
            <div>
                <label class="screen-reader-text" for="s">Search for:</label>
                <input type="text" value="" name="Location" id="s">
                <input type="submit" id="searchsubmit" value="Search">
            </div>
        </form>
    </section>
    <section class="widget">
        <h3 class="title">Featured Properties</h3>
        <ul class="featured-properties">
            @foreach (var property in Property.Get(2))
            {
                <li>
                    @Html.Partial("_FeaturedPropertyPartial", property)
                </li>
            }
        </ul>
    </section><section class="widget">
        <h3 class="title">Categories</h3>
        <ul>
            <li class="cat-item cat-item-6">
                <a href="~/Developer/" title="Developer">Developer</a>
            </li>
            <li class="cat-item cat-item-2">
                <a href="~/IndutrialPark/" title="IndutrialParks">IndutrialPark</a>
            </li>
        </ul>
    </section>
    <section class="widget">
        <h3 class="title">Recent Posts</h3>
        <ul>
            @{
                var recentArticles = Article.Get(5);
            }
            @foreach (var article in recentArticles)
            {
                <li>
                    <a href="~/MarketNews/Show/@article.Id/" title="@article.Subject">@article.Subject</a>
                </li>
            }
        </ul>
    </section>
    @*<section class="widget">
        <h3 class="title">Recent Comments</h3>
        <ul id="recentcomments">
            <li class="recentcomments">
                <a href="#">Administrator</a> on
                <a href="#">The Post With Image Format</a>
            </li>
            <li class="recentcomments">
                <a href="#">Administrator</a> on
                <a href="#">The Post With Image Format</a>
            </li>
            <li class="recentcomments">
                <a href="#">Administrator</a> on
                <a href="#">The Post With Image Format</a>
            </li>
            <li class="recentcomments">
                <a href="#">Administrator</a> on
                <a href="#">The Post With Image Format</a>
            </li>
            <li class="recentcomments">
                <a href="#">Administrator</a> on
                <a href="#">The Post With Image Format</a>
            </li>
        </ul>
    </section>*@
</aside><!-- End Sidebar -->