@{
    Layout = null;
}

<div id="footer">
	<p>
		Chain Touch Portal CopyRight @DateTime.Now.Year &nbsp;&nbsp;&nbsp;&nbsp; Powered by <a href="http://wei.tm/" target="_blank">WEI.TM</a>
	</p>
	<a href="#" class="gototop"><i class="icon-arrow-up"></i></a>
</div>