<!-- Sidebar -->
<aside class="sidebar">
    <section class="widget advance-search">
        <h4 class="title search-heading">Contact</h4>
        <div class="as-form-wrap">
            <form class="advance-search-form clearfix" action="#" method="get">

                <div class="option-bar">
                    <ul class="contacts-list">
                        <li class="office">Office : xxx-xxx-xxxx</li>
                        <li class="mobile">Mobile : xxxx-xxx-xxxx</li>
                        <li class="fax">Fax  : xxx-xxx-xxxx</li>
                    </ul>
                    <a href="#">
                        <img src="~/Images/Temp/contact.jpg" />
                    </a>
                </div>
            </form>
        </div>
    </section>
    <section class="widget advance-search">
        <h4 class="title search-heading">Find Your Property<i class="icon-search"></i></h4>
        <div class="as-form-wrap">
            <form class="advance-search-form clearfix" action="#" method="get">

                <div class="option-bar">
                    <label>Type</label>
                    <span class="selectwrap">
                        <select name="location" id="select-location" class="search-select">
                            <option value="any" selected="selected">Any</option>
                            <option value="miami">Factory</option>
                            <option value="newyork">Warehouse</option>
                        </select>
                    </span>
                </div>

                <div class="option-bar">
                    <label>Location</label>
                    <span class="selectwrap">
                        <input type="text" />
                    </span>
                </div>

                <input type="submit" value="Search" class=" real-btn btn">
            </form>
        </div>
    </section>
    <section class="widget">
        <h3 class="title">Property Types</h3>
        <ul>
            <li><a href="#">Factory</a></li>
            <li><a href="#">Ware House</a></li>
        </ul>
    </section>
    <section class="widget">
        <h3 class="title">Featured Properties</h3>
        <ul class="featured-properties">
            <li>
                <figure>
                    <a href="#">
                        <img src="~/Images/featured-widget-image.jpg" alt="property 10">
                    </a>
                </figure>
                <h4><a href="#" title="123456 Southwest 39th Shanghai">123456 Southwest 39th Shanghai</a></h4>
                <p>This is th introduction… <a href="#">Read More</a></p>
                <span class="price">$x,xxx Per Month</span>
            </li>
            <li>
                <figure>
                    <a href="#">
                        <img src="~/Images/featured-widget-image.jpg" alt="property 10">
                    </a>
                </figure>
                <h4><a href="#" title="123456 Southwest 39th Shanghai">123456 Southwest 39th Shanghai</a></h4>
                <p>This is th introduction… <a href="#">Read More</a></p>
                <span class="price">$x,xxx Per Month</span>
            </li>
        </ul>
    </section>
</aside><!-- End Sidebar -->
