<article class="about-agent clearfix">
    <h4><a title="aaa" href="#">Mr. ABCDE</a></h4>

    <figure>
        <a title="Julia Robert" href="#">
            <img src="~/Images/avatar.jpg" alt="Mr. ABCDE">
        </a>
    </figure>

    <div class="detail">
        <p>This is the introduction of the industrial park...This is the introduction of the industrial park...This is the introduction of the industrial park...This is the introduction of the industrial park...This is the introduction of the industrial park...</p>
        <p class="contact-types">
            <em>Office: xxx-xxx-xxxx</em><em>Mobile: xxxx-xxx-xxxx</em><em>Fax: xxx-xxx-xxxx</em>
        </p>
        <a href="#" class="more-details">More Details<i class="icon-caret-right"></i></a>
    </div>

    <div class="follow-agent clearfix">
        <a class="real-btn btn" href="mailto:contact@wei.tm">Send Message</a>
        <!-- Agent's Social Navigation -->
        <ul class="social_networks clearfix">
            <li class="facebook">
                <a target="_blank" href="https://www.facebook.com/"><i class="icon-facebook"></i></a>
            </li>
            <li class="twitter">
                <a target="_blank" href="https://twitter.com/"><i class="icon-twitter"></i></a>
            </li>
            <li class="linkedin">
                <a target="_blank" href="http://www.linkedin.com/"><i class="icon-linkedin"></i></a>
            </li>
            <li class="gplus">
                <a target="_blank" href="https://plus.google.com/"><i class="icon-google-plus"></i></a>
            </li>
        </ul>
    </div>
</article>