@using Weitm.Modules.ChainTouch.Models;

@{

}
<aside class="sidebar">

    <section class="widget advance-search">
        <h4 class="title search-heading">Find Your Property<i class="icon-search"></i></h4>
        <div class="as-form-wrap">
            <form class="advance-search-form clearfix" action="~/Property/Search/" method="post">

                <div class="option-bar">
                    <label>Type</label>
                    <span class="selectwrap">
                        <select name="Type" id="Type" class="search-select">
                            <option value="any" selected="selected">Any</option>
                            <option value="workshop">Workshop</option>
                            <option value="warehouse">Warehouse</option>
                        </select>
                    </span>
                </div>

                <div class="option-bar">
                    <label>Location</label>
                    <span class="selectwrap">
                        <input type="text" name="Location" />
                    </span>
                </div>

                <input type="submit" value="Search" class=" real-btn btn">
            </form>
        </div>
    </section><section class="widget">
        <h3 class="title">Property Types</h3>
        <ul>
            <li><a href="~/Property/Search/?type=workshop">Workshop</a></li>
            <li><a href="~/Property/Search/?type=warehouse">Warehouse</a></li>
        </ul>
    </section>
    <section class="widget">
        <h3 class="title">Featured Properties</h3>
        <ul class="featured-properties">
            @foreach (var property in Property.Get(2))
            {
                <li>
                    @Html.Partial("_FeaturedPropertyPartial", property)
                </li>
            }
        </ul>
    </section>
</aside><!-- End Sidebar -->
