@using Weitm.Modules.ChainTouch.Models;
@using Weitm.Modules.Article.Models;
@{
    var industrialParks = IndustrialPark.Get().Take(5);
    var root = Category.GetCategoryByUniqueName("Market News");
    var categories = root.GetChildCategories();
}

@section header{
    <style type="text/css">
    .option-bar { 
        margin-right:20px;
    }
    .main-wrap { }
    #overview #property_map {
        border: none;
        width: 100%;
        height: 450px;
        margin-bottom: 15px;
    }
        #Type, #Name, #Location {
            width:150px;
        }
    </style>
    <script type="text/javascript">
        var baseUrl = '@Url.Content("~/")';
    </script>
}

@section footer{
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=h0UOjQKmhlDUKwlff50FCOLP"></script>
    <!-- 加载百度地图样式信息窗口 -->
    <script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
    <link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />
    <!-- 加载城市列表 -->
    <script type="text/javascript" src="http://api.map.baidu.com/library/CityList/1.2/src/CityList_min.js"></script>
    <script type="text/javascript" src="~/Scripts/industrial-park-search.js"></script>
}

<!-- Page Head -->
<div class="page-head" style="background-repeat: no-repeat;background-position: center top;background-image: url('@Url.Content("~/Images/page-head-image.jpg")'); ">
    <div class="container">
        <div class="wrap clearfix">
            <h1 class="page-title"><span>Industrial Park</span></h1>
            <p>View List of All Industrial Park</p>
        </div>
    </div>
</div>

<!-- Content -->
<div class="container contents lisitng-grid-layout">

    <div class="row">

        <div class="span6 main-wrap">

            <!-- Main Content -->
            <div class="main">

                <section class="listing-layout">
                    <h3 class="title-heading">Industrial Park News</h3>

                    <div class="small-arrow-list">
                        @Html.Partial("_NewsListPartial", categories[0].GetArticles(5))
                    </div>
                </section>

            </div><!-- End Main Content -->

        </div> <!-- End span9 -->

        <div class="span6 sidebar-wrap">
            <div class="listing-slider">
                <span class="format-icon gallery"></span>

                <div class="flex-viewport" style="overflow: hidden; position: relative;">
                    <ul class="slides">
                        <li class="clone">
                            <a href="~/Content/realhomes/images/temp-images/n2.jpg" title="" class="swipebox">
                                <img src="~/Content/realhomes/images/temp-images/n2.jpg" alt="Chair One">
                            </a>
                        </li>
                        <li>
                            <a href="~/Content/realhomes/images/temp-images/n3.jpg" title="" class="swipebox">
                                <img src="~/Content/realhomes/images/temp-images/n3.jpg" alt="Chair Three">
                            </a>
                        </li>
                        <li>
                            <a href="~/Content/realhomes/images/temp-images/n4.jpg" title="" class="swipebox">
                                <img src="~/Content/realhomes/images/temp-images/n4.jpg" alt="Chair Two">
                            </a>
                        </li>
                        <li>
                            <a href="~/Content/realhomes/images/temp-images/n5.jpg" title="" class="swipebox">
                                <img src="~/Content/realhomes/images/temp-images/n5.jpg" alt="Chair One">
                            </a>
                        </li>

                    </ul>
                </div>

                <ul class="flex-direction-nav">
                    <li><a class="flex-prev" href="#">Previous</a></li>
                    <li><a class="flex-next" href="#">Next</a></li>
                </ul>
            </div>
        </div>

    </div><!-- End contents row -->

    <div class="row">
        <div class="span9">
            <section class="widget advance-search">
                <h4 class="title search-heading">Find Industrial Park<i class="icon-search"></i></h4>
                <div class="as-form-wrap">
                    <form class="advance-search-form clearfix" method="post" id="industrial-park-search">

                        <div class="option-bar">
                            <label>Location</label>
                            <span class="selectwrap">
                                <input id="Location" name="Location" type="text" />
                            </span>
                        </div>

                        <div class="option-bar">
                            <label>Industrial Park Name</label>
                            <span class="selectwrap">
                                <input id="Name" name="Name" type="text" />
                            </span>
                        </div>

                        <div class="option-bar">
                            <label>&nbsp;</label>
                            <input type="submit" id="Search" value="Search" class=" real-btn btn">
                        </div>
                    </form>
                </div>
            </section>
            <section id="overview">
                <div class="map-wrap clearfix">
                    <span class="map-label">Industrial Park Map</span>
                    <div id="property_map">

                    </div>
                </div>
            </section>
        </div>
        <div class="span3">
            <section class="widget">
                <h3 class="title">Featured Properties</h3>
                <ul class="featured-properties">
                    @foreach(var property in Property.Get(2))
                    {
                    <li>
                        @Html.Partial("_FeaturedPropertyPartial", property)
                    </li>
                    }
                </ul>
            </section>
        </div>
    </div>

</div><!-- End Content -->