<article class="property-item clearfix">
    <figure>
        <a href="#" title="xxxx Southwest 39th Shanghai">
            <img src="~/Images/property.jpg" 
                 class="attachment-grid-view-image wp-post-image"
                 alt="xxxx Southwest 39th Shanghai"
                 title="xxxx Southwest 39th Shanghai">
        </a>

        <figcaption> On Rent </figcaption>
    </figure>

    <h4>
        <a href="#" title="xxxx Southwest 39th Shanghai">xxxx Southwest 39th Shanghai</a>
    </h4>
    <p>This is the introduction...This is the introduction...This is the introduction...
        <a class="more-details" href="#">More Details <i class="icon-caret-right"></i></a></p>
    <span>$x,xxx Per Month</span>
</article>