<article class="property-item clearfix">

    <h4><a href="#" title="1234456 Southwest 39th Shanghai">1234456 Southwest 39th Shanghai</a></h4>

    <figure>
        <a href="#" title="1234456 Southwest 39th Shanghai">
            <img src="~/Images/property.jpg" class="attachment-property-thumb-image wp-post-image" 
                 alt="1234456 Southwest 39th Shanghai" 
                 title="1234456 Southwest 39th Shanghai">
        </a>
        <figcaption> On Rent  </figcaption>
    </figure>

    <div class="detail">
        <h5 class="price">
            $x,xxx Per Month<small> - Villa</small>
        </h5>
        <p>This is the introduction...This is the introduction...This is the introduction...This is the introduction...This is the introduction...</p>
        <a class="more-details" href="#">More Details <i class="icon-caret-right"></i></a>
    </div>

    <div class="property-meta">
        <span><i class="icon-area"></i>features</span>
        <span><i class="icon-area"></i>features</span>
        <span><i class="icon-area"></i>features</span>
        <span><i class="icon-area"></i>features</span>
        <span><i class="icon-area"></i>features</span>
    </div>

</article>