@{

}

@section header{

}
<div id="search-wrapper">
    <div id="search-window">
        <div class="inner">
            <h3>Find Property That You Want</h3>
            <p>Structure</p>
            <input type="text" class="text" />
            <p>Size</p>
            <input type="text" class="text" />
            <p>Clear Height</p>
            <input type="text" class="text" />
            <p>Floor Loading</p>
            <input type="text" class="text" />
            <p>AskingRental</p>
            <input type="text" class="text" />
            <button type="submit" class="submit-button">Search</button>
        </div>
    </div>
</div>
