@using Weitm.Modules.ChainTouch.Models;
@{
    var developers = Developer.Get().Take(5);
}

@section header{
    <style type="text/css">
        .option-bar {
            margin-right: 20px;
        }

        .main-wrap {
            margin-left: 0px;
        }
    </style>
}

<!-- Page Head -->
<div class="page-head" style="background-repeat: no-repeat;background-position: center top;background-image: url('@Url.Content("~/Images/page-head-image.jpg")'); ">
    <div class="container">
        <div class="wrap clearfix">
            <h1 class="page-title"><span>Developers</span></h1>
            <p>View List of All Devlopers</p>
        </div>
    </div>
</div>

<!-- Content -->
<div class="container contents lisitng-grid-layout">

    <div class="row">

        <div class="span6 main-wrap">

            <!-- Main Content -->
            <div class="main">

                <section class="listing-layout">
                    <h3 class="title-heading">Developers</h3>

                    <div class="small-arrow-list">
                        <ul>
                            @foreach (var developer in developers)
                            {
                                <li><a href="~/Developer/Detail/@developer.Id/">@developer.Name</a></li>
                            }
                        </ul>
                    </div>
                </section>

            </div><!-- End Main Content -->

        </div> <!-- End span9 -->

        <div class="span6 sidebar-wrap">
            <div class="listing-slider">
                <span class="format-icon gallery"></span>

                <div class="flex-viewport" style="overflow: hidden; position: relative;">
                    <ul class="slides">
                        <li class="clone">
                            <a href="~/Content/realhomes/images/temp-images/n2.jpg" title="" class="swipebox">
                                <img src="~/Content/realhomes/images/temp-images/n2.jpg" alt="Chair One">
                            </a>
                        </li>
                        <li>
                            <a href="~/Content/realhomes/images/temp-images/n3.jpg" title="" class="swipebox">
                                <img src="~/Content/realhomes/images/temp-images/n3.jpg" alt="Chair Three">
                            </a>
                        </li>
                        <li>
                            <a href="~/Content/realhomes/images/temp-images/n4.jpg" title="" class="swipebox">
                                <img src="~/Content/realhomes/images/temp-images/n4.jpg" alt="Chair Two">
                            </a>
                        </li>
                        <li>
                            <a href="~/Content/realhomes/images/temp-images/n5.jpg" title="" class="swipebox">
                                <img src="~/Content/realhomes/images/temp-images/n5.jpg" alt="Chair One">
                            </a>
                        </li>

                    </ul>
                </div>

                <ul class="flex-direction-nav">
                    <li><a class="flex-prev" href="#">Previous</a></li>
                    <li><a class="flex-next" href="#">Next</a></li>
                </ul>
            </div>
        </div>

    </div><!-- End contents row -->

    <div class="row">
        <section class="widget advance-search">
            <h4 class="title search-heading">Find Your Property<i class="icon-search"></i></h4>
            <div class="as-form-wrap">
                <form class="advance-search-form clearfix" action="#" method="get">

                    <div class="option-bar">
                        <label>Type</label>
                        <span class="selectwrap">
                            <select name="location" id="select-location" class="search-select">
                                <option value="any" selected="selected">Any</option>
                                <option value="miami">Factory</option>
                                <option value="newyork">Warehouse</option>
                            </select>
                        </span>
                    </div>

                    <div class="option-bar">
                        <label>Location</label>
                        <span class="selectwrap">
                            <input type="text" />
                        </span>
                    </div>
                    <div class="option-bar">
                        <label>&nbsp;</label>
                        <input type="submit" value="Search" class=" real-btn btn">
                    </div>
                </form>
            </div>
        </section>
        <section id="overview">
            <div class="map-wrap clearfix">
                <span class="map-label">Property Map</span>
                <div id="property_map">

                </div>

                @*<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>*@
                <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=h0UOjQKmhlDUKwlff50FCOLP"></script>
                <script type="text/javascript">
                    //// Google Map
                    //function initialize() {
                    //    var geocoder = new google.maps.Geocoder();
                    //    var map;
                    //    var latlng = new google.maps.LatLng(-37.817917, 144.965065);
                    //    var infowindow = new google.maps.InfoWindow();
                    //    var myOptions = {
                    //        zoom: 17,
                    //        mapTypeId: google.maps.MapTypeId.ROADMAP
                    //    };

                    //    map = new google.maps.Map(document.getElementById("property_map"), myOptions);

                    //    geocoder.geocode({ 'location': latlng },
                    //        function (results, status) {
                    //            if (status == google.maps.GeocoderStatus.OK) {
                    //                map.setCenter(results[0].geometry.location);
                    //                var marker = new google.maps.Marker({
                    //                    map: map,
                    //                    position: results[0].geometry.location
                    //                });
                    //                //alert(results[0].formatted_address);
                    //                //infowindow.setContent(results[0].formatted_address);
                    //                //infowindow.open(map, marker);
                    //            }
                    //            else {
                    //                alert("Geocode was not successful for the following reason: " + status);
                    //            }
                    //        });

                    //}

                    //initialize();
                    // 百度地图API功能
                    var map = new BMap.Map("property_map");                        // 创建Map实例
                    map.centerAndZoom(new BMap.Point(116.404, 39.915), 11);     // 初始化地图,设置中心点坐标和地图级别
                    map.addControl(new BMap.NavigationControl());               // 添加平移缩放控件
                    map.addControl(new BMap.ScaleControl());                    // 添加比例尺控件
                    map.addControl(new BMap.OverviewMapControl());              //添加缩略地图控件
                    map.enableScrollWheelZoom();                            //启用滚轮放大缩小
                    map.addControl(new BMap.MapTypeControl());          //添加地图类型控件
                    map.setCurrentCity("北京");          // 设置地图显示的城市 此项是必须设置的
                </script>
            </div>
        </section>

    </div>

</div><!-- End Content -->