<article class="format-image">
    <header>
        <h3 class="post-title">
            <a href="#">The Post With Image Format</a>

        </h3>
        <div class="post-meta image-meta">
            <span>Posted on <span class="date"> May 01, 2014</span></span>
            <span>by <span class="author-link"><a href="#" title="Posts by Administrator" rel="author">Administrator</a></span> in <a href="#" title="View all posts in Sales">Industrial Park</a> </span>
        </div>
    </header>
    <figure>
        <span class="format-icon image"></span>
        <a href="~/Images/post.jpg" class="swipebox" title="The Post With Image Format">
            <img src="~/Images/post.jpg" alt=" The Post With Image Format" title=" The Post With Image Format">
        </a>
    </figure>
    <p>This is the brief introduction of the article...This is the brief introduction of the article...This is the brief introduction of the article...This is the brief introduction of the article...This is the brief introduction of the article...This is the brief introduction of the article...</p>
    <a class="real-btn" href="#">Read more</a>
</article>