 <!-- Page Head -->
<div class="page-head" style="background-repeat: no-repeat;background-position: center top;background-image: url('@Url.Content("~/Images/page-head-image.jpg")'); ">
    <div class="container">
        <div class="wrap clearfix">
            <h1 class="page-title"><span>Academy</span></h1>
            <p>Building...</p>
        </div>
    </div>
</div>

<!-- Content -->
<div class="container contents single">
    <div class="row">
        <div class="span9 main-wrap">
            <!-- Main Content -->
            <div class="main">

                <div class="inner-wrapper">
                    <article class="page type-page clearfix">
                        <p><br><strong>Please try using top navigation OR search for what you are looking for!</strong></p>
                    </article>
                </div>

            </div><!-- End Main Content -->

        </div> <!-- End span9 -->

        <div class="span3 sidebar-wrap">

           @Html.Partial("_SidebarPartial")

        </div>


    </div><!-- End contents row -->

</div><!-- End Content -->