<!-- Page Head -->
<div class="page-head" style="background-repeat: no-repeat;background-position: center top;background-image: url('@Url.Content("~/Images/page-head-image.jpg")'); ">
    <div class="container">
        <div class="wrap clearfix">
            <h1 class="page-title"><span>404 - Page Not Found!</span></h1>
            <p>The page you are looking for is not here!</p>
        </div>
    </div>
</div>

<!-- Content -->
<div class="container contents single">
    <div class="row">
        <div class="span9 main-wrap">
            <!-- Main Content -->
            <div class="main">

                <div class="inner-wrapper">
                    <article class="page type-page clearfix">
                        <p><br><strong>Please try using top navigation OR search for what you are looking for!</strong></p>
                    </article>
                </div>

            </div><!-- End Main Content -->

        </div> <!-- End span9 -->

        <div class="span3 sidebar-wrap">

            <!-- Sidebar -->
            <aside class="sidebar">
                <section class="widget">
                    <h3 class="title">Site Search</h3><form role="search" method="get" id="searchform" class="searchform" action="#">
                        <div>
                            <label class="screen-reader-text" for="s">Search for:</label>
                            <input type="text" value="" name="s" id="s">
                            <input type="submit" id="searchsubmit" value="Search">
                        </div>
                    </form>
                </section>
            </aside><!-- End Sidebar -->

        </div>


    </div><!-- End contents row -->

</div><!-- End Content -->