@using Weitm.Modules.ChainTouch.Models;
@{

}
<div id="left">
    @Html.Partial("_SidebarPartial")
</div>
<div id="main">
    <div class="container-fluid">
        <div class="page-header">
            <div class="pull-left">
                <h1>Industrial Parks</h1>
            </div>
        </div>
        <div class="breadcrumbs">
            <ul>
                <li>
                    <a href="~/">Chain Touch Portal</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li>
                    <a href="~/">Industrial Parks</a>
                </li>
            </ul>
            <div class="close-bread">
                <a href="#"><i class="icon-remove"></i></a>
            </div>
        </div>


        <div class="row-fluid">
            <div class="span12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="icon-edit"></i> Create</h3>
                    </div>
                    <div class="box-content">
                        <form action="#" method="POST" class='form-horizontal'>
                            <div class="control-group">
                                <label for="Name" class="control-label">Full Name of Industrial Park</label>
                                <div class="controls">
                                    <input type="text" name="Name" id="Name" class="input-xlarge">
                                    <span class="help-block">Pls input the full name of your industrial park</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Location</label>
                                <div class="controls">
                                    <select name="select" id="select" class='input-small'>
                                        <option value="Province">Province</option>
                                    </select>
                                    <select name="select" id="select" class='input-small'>
                                        <option value="District">District</option>
                                    </select>
                                    <select name="select" id="select" class='input-small'>
                                        <option value="Municipal">Municipal</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="Address" class="control-label">Address of Administrative Committee of Park</label>
                                <div class="controls">
                                    <input type="text" name="Address" id="Address" class="input-xlarge" placeholder="Map Auto Locate">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Year of Establishment</label>
                                <div class="controls">
                                    <select name="YearOfEstablishment" id="YearOfEstablishment" class='input-small'>
                                        <option value="2014">2014</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="JurisdictionAreaSize" class="control-label">Jurisdiction Area Size</label>
                                <div class="controls">
                                    <input type="text" name="JurisdictionAreaSize" id="JurisdictionAreaSize" class="input-small">sqkm
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="textfield" class="control-label">Pillar Industry</label>
                                <div class="controls">
                                    <input type="text" name="PillarIndustry" id="PillarIndustry" class="input-xlarge">
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="MncPresence" class="control-label">MNC Presence</label>
                                <div class="controls">
                                    <input type="text" name="MncPresence" id="MncPresence" class="input-xlarge">
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="Contact" class="control-label">Contact</label>
                                <div class="controls">
                                    <input type="text" name="LastName" id="LastName" class="input-small" placeholder="Last Name">
                                    <input type="text" name="FirstName" id="FirstName" class="input-small" placeholder="First Name">
                                    <br/>
                                    <input type="text" name="Department" id="Department" class="input-xlarge" placeholder="Department">
                                    <br />
                                    <input type="text" name="Title" id="Title" class="input-xlarge" placeholder="Title">
                                    <br />
                                    <input type="text" name="Mobile" id="Mobile" class="input-xlarge" placeholder="Mobile Phone">
                                    <br />
                                    <input type="text" name="Landline" id="Landline" class="input-xlarge" placeholder="Landline">
                                    <br />
                                    <input type="text" name="Email" id="Email" class="input-xlarge" placeholder="Email Address">
                                </div>
                            </div>



                            <div class="control-group">
                                <label for="textarea" class="control-label">Other/Highlights</label>
                                <div class="controls">
                                    <textarea name="Others" id="Others" rows="10" class="input-block-level"></textarea>
                                    <span class="help-block">Pls briefly introduce your industrial park and especially highlight the advantages of your park, which differentiate your park from the others.</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="Pictures" class="control-label">Pictures</label>
                                <div class="controls">
                                    <input type="file" name="Pictures" id="Pictures" class="input-block-level">
                                    <span class="help-block">Only .jpg (Max Size: 100MB)</span>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary">Save</button>
                                <button type="button" class="btn">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>