<article class="format-gallery">
    <header>
        <h3 class="post-title"><a href="#">Example Post With Gallery Post Format</a></h3>
        <div class="post-meta gallery-meta thumb-exist">
            <span>Posted on <span class="date"> May 01, 2014</span></span>
            <span>by <span class="author-link"><a href="#" title="Posts by Administrator" rel="author">Administrator</a></span> in <a href="#" title="View all posts in Sales">Industrial Park</a> </span>
        </div>
    </header>
    <div class="listing-slider">
        <span class="format-icon gallery"></span>

        <div class="flex-viewport">
            <ul class="slides">
                <li class="clone">
                    <a href="~/Images/post.jpg" title="" class="swipebox">
                        <img src="~/Images/post.jpg" alt="Chair One">
                    </a>
                </li>
                <li class="clone">
                    <a href="~/Images/post.jpg" title="" class="swipebox">
                        <img src="~/Images/post.jpg" alt="Chair One">
                    </a>
                </li>
                <li class="clone">
                    <a href="~/Images/post.jpg" title="" class="swipebox">
                        <img src="~/Images/post.jpg" alt="Chair One">
                    </a>
                </li>
                <li class="clone">
                    <a href="~/Images/post.jpg" title="" class="swipebox">
                        <img src="~/Images/post.jpg" alt="Chair One">
                    </a>
                </li>
            </ul>
        </div>

        <ul class="flex-direction-nav">
            <li><a class="flex-prev" href="#">Previous</a></li>
            <li><a class="flex-next" href="#">Next</a></li>
        </ul>
    </div>
    <p>This is the brief introduction of the article...This is the brief introduction of the article...This is the brief introduction of the article...This is the brief introduction of the article...This is the brief introduction of the article...This is the brief introduction of the article...</p>
    <a class="real-btn" href="#">Read more</a>
</article>